.empty-state__title {
    font-size: var(--xxl);
    margin-top: 24px;
    margin: 0;
}
.empty-state__description {
    font-size: var(--lg);
    text-align: center;
    width: 50%;
    margin-top: -8px;
}
.add-list-button--empty-state {
    background-color: var(--grey-400);
    margin-top: 8px;
    margin-bottom: 24px;
}
.add-list-button--empty-state:hover {
    border: 2px solid var(--grey-200);
}
.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: fit-content;
    color: var(--secondary-white);
    gap: 24px;
}
.empty-state__illustration {
    width: 370px;
    height: 108px;
    background: var(--grey-600);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    opacity: 0;
}
.illustration-1 {
    animation: state-illustration 2s 0.5s ease-in-out forwards;
}
.illustration-2 {
    animation: state-illustration 2s 0.8s ease-in-out forwards;
}
.illustration-3 {
    animation: state-illustration 2s 1.1s ease-in-out forwards;
}
@keyframes state-illustration {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.illustration__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.illustration__content__header {
    width: 150px;
    height: 24px;
    background: var(--grey-400);
    border-radius: 10px;
}
.illustration__content__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58px;
}
.illustration__content__buttons span {
    width: 24px;
    height: 24px;
    background: var(--grey-400);
    border-radius: 50%;
}
.empty-state__illustration__footer {
    width: 100%;
    height: 24px;
    background-color: var(--grey-300);
    border-radius: 10px;
}