.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: fit-content;
    color: var(--secondary-white);
    gap: 24px;
}
.empty-state__illustration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 277px;
}
.empty-state__illustration {
    width: 370px;
    height: 108px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
}
.illustration-1 {
    z-index: 2;
    transform: translateY(-90px);
    background: var(--grey-600);
}
.illustration-2 {
    z-index: 3;
    transform: scale(1.1);
    background: var(--grey-500);
}
.illustration-3 {
    z-index: 1;
    transform: translateY(90px);
    background: var(--grey-700);
}
.illustration__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.illustration__content__header {
    width: 150px;
    height: 24px;
    border-radius: 10px;
}

.illustration-1 .illustration__content__header {
    background: var(--grey-500);
}

.illustration-2 .illustration__content__header {
    background: var(--grey-400);
}
.illustration-3 .illustration__content__header {
    background: var(--grey-600);
}

.illustration__content__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58px;
}
.illustration__content__buttons span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.illustration-1 .illustration__content__buttons span {
    background: var(--grey-500);
}
.illustration-2 .illustration__content__buttons span {
    background: var(--grey-400);
}
.illustration-3 .illustration__content__buttons span {
    background: var(--grey-600);
}
.empty-state__illustration__footer {
    width: 100%;
    height: 24px;
    border-radius: 10px;
}
.illustration-1 .empty-state__illustration__footer {
    background-color: var(--grey-300);
}
.illustration-2 .empty-state__illustration__footer {
    background-color: var(--grey-200);
}
.illustration-3 .empty-state__illustration__footer {
    background-color: var(--grey-400);
}
.empty-state__title {
    font-size: var(--xxl);
    margin-top: 24px;
    margin: 0;
}
.empty-state__description {
    font-size: var(--lg);
    text-align: center;
    width: 566px;
    margin-top: -8px;
}
.add-list-button--empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 63px;
    font-size: var(--xl);
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
    gap: 12px;
    background-color: var(--white);
    color: var(--grey-800);
    font-weight: 700;
    border: 1px solid var(--white);
    margin-top: 8px;
    margin-bottom: 24px;
}
.add-list-button--empty-state:hover {
    background-color: var(--grey-600);
    color: var(--white);
    border: 1px solid var(--grey-200);
    transition: 0.3s;
}